body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	max-width: 1000px;

}
body {
	-epub-hyphens:auto;
	margin-left: auto;
	margin-right: auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
#w_100{
	width:100%;
}

div.Basic-Text-Frame, img.Basic-Text-Frame {
	border-style:solid;
}

.flex {
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 1200px) { 
	.px{

		padding-left: 10px;
		padding-right: 10px;

	}


}
@media (min-width: 1200px) { 
	
	div.Basic-Text-Frame {
		width: 50%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.flex{

		display: flex;
	}

 }

 .text{

	column-count: 2;
 }

.body-margin{
	margin-left: 20px;
	margin-right: 20px;
}





.Basic-Text-Frame:first-of-type .Basic-Paragraph:nth-child(4){

	margin: 0;
 
}



.Basic-Text-Frame:first-of-type .Basic-Paragraph:nth-child(3){

	margin: 0;
	 
	}


p.Basic-Paragraph {
	color:#000000;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom: 10px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;

}
h2.RUSIS {
	color:#ab6b39;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:always;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}



h1.SKYRIUS {
	color:#008000;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:always;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.TOC-Title {
	color:#008000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#0000ff;
	text-decoration:underline;
}
p.ParaOverride-1 {
	margin-bottom:14px;
}
p.ParaOverride-2 {
	margin-top:9px;
}
p.ParaOverride-3 {
	text-indent:9px;
}
p.ParaOverride-4, h1.ParaOverride-4 {
	margin-bottom:5px;
}
p.ParaOverride-5 {
	margin-top:9px;
	text-indent:9px;
}
p.ParaOverride-6 {
	text-align:left;
	text-indent:9px;
}
p.ParaOverride-7, h2.ParaOverride-7 {
	text-align:center;
}
span.CharOverride-1 {
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#008000;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#63b263;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#66b366;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#008000;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-7 {
	color:#008000;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-8 {
	color:#63b263;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-9 {
	color:#66b366;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-10 {
	color:#6eb76e;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-11 {
	color:#6eb76e;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-12 {
	color:#66b366;
}
span.CharOverride-13 {
	font-family:"Open Sans", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-15 {
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-16 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-17 {
	
	/* font-size:9px; */
	
}
span.CharOverride-18 {
/* font-size:9px; */
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-19 {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-20 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-21 {
	font-family:"Open Sans Semibold", sans-serif;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-22 {
	font-family:"Open Sans", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	color:#7e8083;
	font-family:"Open Sans", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-24 {
	font-family:"Open Sans Semibold", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:600;
}
span.CharOverride-25 {
	font-family:"Open Sans", sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-26 {
	color:#7e8083;
	font-family:"Open Sans", sans-serif;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-27 {
	color:#808285;
	font-family:"Open Sans", sans-serif;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-28 {
	color:#7c7e81;
	font-family:"Open Sans", sans-serif;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-29 {
	color:#797a7d;
	font-family:"Open Sans", sans-serif;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-30 {
	font-family:"Open Sans", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-31 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-32 {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-33 {
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-34 {
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-35 {
	color:#7c7e81;
	font-family:"Open Sans", sans-serif;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-36 {
	color:#7c7e81;
	font-family:"Open Sans", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-37 {
	color:#7e8083;
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-38 {
	color:#7c7e81;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-39 {
	color:#808285;
	font-size:14px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-40 {
	font-size:48px;
}
span.CharOverride-41 {
	color:#008000;
	font-size:48px;
}
span.CharOverride-42 {
	color:#63b263;
	font-size:48px;
}
span.CharOverride-43 {
	color:#63b263;
	font-size:36px;
}
span.CharOverride-44 {
	color:#008000;
}

span.CharOverride-46 {
	font-family:Cambria, serif;
	font-size:9px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-47 {
	font-family:Cambria, serif;
	font-size:9px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-48 {
	font-size:58%;
	vertical-align:sub;
}
span.CharOverride-49 {
	font-size:58%;
	vertical-align:super;
}


span.CharOverride-45 {
	color:#d2232a;
	font-style:normal;
	font-weight:bold;
	display:inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
}

span.CharOverride-50 {
	color:#d2232a;
	font-style:normal;
	font-weight:bold;
	display:inline-block;
	margin-top: 12px;
	margin-bottom: 12px;
}
span.CharOverride-51 {
	color:#008000;
	font-size:36px;
}
span.CharOverride-52 {
	color:#66b366;
	font-size:36px;
}
span.CharOverride-53 {
	color:#ffffff;
	font-family:"Open Sans", sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-54 {
	font-style:italic;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.CharOverride-55 {
	color:#008000;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-56 {
	color:#63b263;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-57 {
	color:#66b366;
	font-family:"Open Sans", sans-serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-58 {
	color:#848689;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-59 {
	color:#6eb76e;
}
span.CharOverride-60 {
	color:#6eb76e;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-61 {
	font-size:58%;
	font-style:italic;
	font-weight:normal;
	vertical-align:super;
}
span.CharOverride-62 {
	color:#000000;
}
span.CharOverride-63 {
	color:#86888a;
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-64 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer010, #_idContainer011, #_idContainer012, #_idContainer027, #_idContainer029, #_idContainer033, #_idContainer035, #_idContainer037, #_idContainer039, #_idContainer041, #_idContainer043, #_idContainer045, #_idContainer047, #_idContainer049, #_idContainer051, #_idContainer084, #_idContainer085, #_idContainer086, #_idContainer087, #_idContainer088, #_idContainer094, #_idContainer100, #_idContainer104, #_idContainer105, #_idContainer111, #_idContainer112, #_idContainer115, #_idContainer116, #_idContainer119, #_idContainer120, #_idContainer124, #_idContainer127, #_idContainer128, #_idContainer131, #_idContainer132, #_idContainer137, #_idContainer140, #_idContainer141, #_idContainer144, #_idContainer145, #_idContainer148, #_idContainer149, #_idContainer152, #_idContainer153, #_idContainer156, #_idContainer157, #_idContainer163, #_idContainer164, #_idContainer170, #_idContainer171, #_idContainer174, #_idContainer175, #_idContainer178, #_idContainer179, #_idContainer182, #_idContainer183, #_idContainer186, #_idContainer187, #_idContainer190, #_idContainer191, #_idContainer194, #_idContainer195, #_idContainer198, #_idContainer199, #_idContainer202, #_idContainer203, #_idContainer206, #_idContainer207, #_idContainer210, #_idContainer211, #_idContainer214, #_idContainer215, #_idContainer218, #_idContainer219, #_idContainer222, #_idContainer223, #_idContainer226, #_idContainer227, #_idContainer230, #_idContainer231, #_idContainer234, #_idContainer235, #_idContainer238, #_idContainer239, #_idContainer242, #_idContainer243, #_idContainer246, #_idContainer247, #_idContainer250, #_idContainer251, #_idContainer254, #_idContainer255, #_idContainer258, #_idContainer259, #_idContainer262, #_idContainer263, #_idContainer266, #_idContainer267, #_idContainer270, #_idContainer271, #_idContainer274, #_idContainer275, #_idContainer278, #_idContainer279, #_idContainer282, #_idContainer283, #_idContainer286, #_idContainer287, #_idContainer290, #_idContainer291, #_idContainer294, #_idContainer295, #_idContainer298, #_idContainer299, #_idContainer302, #_idContainer303, #_idContainer306, #_idContainer307, #_idContainer310, #_idContainer311, #_idContainer314, #_idContainer315, #_idContainer318, #_idContainer319, #_idContainer322, #_idContainer323, #_idContainer326, #_idContainer327, #_idContainer330, #_idContainer331, #_idContainer334, #_idContainer335, #_idContainer338, #_idContainer339, #_idContainer342, #_idContainer343, #_idContainer346, #_idContainer347, #_idContainer350, #_idContainer351, #_idContainer354, #_idContainer355, #_idContainer358, #_idContainer359, #_idContainer362, #_idContainer363, #_idContainer366, #_idContainer367, #_idContainer370, #_idContainer371, #_idContainer374, #_idContainer375, #_idContainer378, #_idContainer379, #_idContainer382, #_idContainer383, #_idContainer386, #_idContainer387, #_idContainer390, #_idContainer391, #_idContainer394, #_idContainer395, #_idContainer398, #_idContainer399, #_idContainer402, #_idContainer403, #_idContainer406, #_idContainer407, #_idContainer410, #_idContainer411, #_idContainer414, #_idContainer415, #_idContainer418, #_idContainer419, #_idContainer422, #_idContainer423, #_idContainer426, #_idContainer427, #_idContainer430, #_idContainer431, #_idContainer434, #_idContainer435, #_idContainer438, #_idContainer439, #_idContainer442, #_idContainer443, #_idContainer446, #_idContainer447, #_idContainer450, #_idContainer451, #_idContainer454, #_idContainer455, #_idContainer458, #_idContainer459, #_idContainer462, #_idContainer463, #_idContainer466, #_idContainer467, #_idContainer470, #_idContainer471, #_idContainer474, #_idContainer475, #_idContainer478, #_idContainer479, #_idContainer482, #_idContainer483, #_idContainer486, #_idContainer487, #_idContainer490, #_idContainer491, #_idContainer494, #_idContainer495, #_idContainer498, #_idContainer499, #_idContainer502, #_idContainer503, #_idContainer506, #_idContainer507, #_idContainer510, #_idContainer511, #_idContainer514, #_idContainer515, #_idContainer518, #_idContainer519, #_idContainer522, #_idContainer523, #_idContainer526, #_idContainer527, #_idContainer530, #_idContainer531, #_idContainer534, #_idContainer535, #_idContainer538, #_idContainer539, #_idContainer542, #_idContainer543, #_idContainer546, #_idContainer547, #_idContainer550, #_idContainer551, #_idContainer554, #_idContainer555, #_idContainer558, #_idContainer559, #_idContainer562, #_idContainer563, #_idContainer566, #_idContainer567, #_idContainer570, #_idContainer571, #_idContainer574, #_idContainer575, #_idContainer578, #_idContainer579, #_idContainer582, #_idContainer583, #_idContainer586, #_idContainer587, #_idContainer590, #_idContainer591, #_idContainer594, #_idContainer595, #_idContainer598, #_idContainer600, #_idContainer601, #_idContainer604, #_idContainer606, #_idContainer607, #_idContainer610, #_idContainer611, #_idContainer614, #_idContainer615, #_idContainer618, #_idContainer619, #_idContainer622, #_idContainer623, #_idContainer626, #_idContainer627, #_idContainer633, #_idContainer634, #_idContainer637, #_idContainer638, #_idContainer641, #_idContainer642, #_idContainer645, #_idContainer646, #_idContainer649, #_idContainer650, #_idContainer653, #_idContainer655, #_idContainer656, #_idContainer659, #_idContainer660, #_idContainer663, #_idContainer665, #_idContainer666, #_idContainer669, #_idContainer670, #_idContainer673, #_idContainer674, #_idContainer677, #_idContainer678, #_idContainer681, #_idContainer682, #_idContainer685, #_idContainer686, #_idContainer689, #_idContainer690, #_idContainer693, #_idContainer694, #_idContainer697, #_idContainer698, #_idContainer701, #_idContainer702, #_idContainer705, #_idContainer706, #_idContainer709, #_idContainer710, #_idContainer713, #_idContainer714, #_idContainer717, #_idContainer718, #_idContainer721, #_idContainer722, #_idContainer725, #_idContainer726, #_idContainer729, #_idContainer730, #_idContainer733, #_idContainer734, #_idContainer737, #_idContainer738, #_idContainer741, #_idContainer742, #_idContainer745, #_idContainer746, #_idContainer749, #_idContainer750, #_idContainer753, #_idContainer754, #_idContainer757, #_idContainer758, #_idContainer761, #_idContainer762, #_idContainer765, #_idContainer766, #_idContainer769, #_idContainer770, #_idContainer773, #_idContainer774, #_idContainer777, #_idContainer778, #_idContainer781, #_idContainer782, #_idContainer785, #_idContainer786, #_idContainer789, #_idContainer790, #_idContainer793, #_idContainer794, #_idContainer797, #_idContainer798, #_idContainer801, #_idContainer802, #_idContainer805, #_idContainer806, #_idContainer809, #_idContainer810, #_idContainer814, #_idContainer815, #_idContainer818, #_idContainer819, #_idContainer822, #_idContainer823, #_idContainer826, #_idContainer827, #_idContainer830, #_idContainer831, #_idContainer834, #_idContainer835, #_idContainer838, #_idContainer839, #_idContainer842, #_idContainer843, #_idContainer846, #_idContainer847, #_idContainer850, #_idContainer851, #_idContainer854, #_idContainer855, #_idContainer858, #_idContainer859, #_idContainer862, #_idContainer863, #_idContainer866, #_idContainer867, #_idContainer870, #_idContainer871, #_idContainer874, #_idContainer875, #_idContainer878, #_idContainer879, #_idContainer882, #_idContainer883, #_idContainer886, #_idContainer887, #_idContainer890, #_idContainer891, #_idContainer894, #_idContainer895, #_idContainer898, #_idContainer899, #_idContainer902, #_idContainer903, #_idContainer906, #_idContainer907, #_idContainer910, #_idContainer911, #_idContainer914, #_idContainer915, #_idContainer918, #_idContainer919, #_idContainer922, #_idContainer923, #_idContainer926, #_idContainer927, #_idContainer930, #_idContainer931, #_idContainer934, #_idContainer935, #_idContainer938, #_idContainer939, #_idContainer942, #_idContainer943, #_idContainer946, #_idContainer947, #_idContainer950, #_idContainer951, #_idContainer954, #_idContainer955, #_idContainer958, #_idContainer959, #_idContainer962, #_idContainer963, #_idContainer966, #_idContainer967, #_idContainer970, #_idContainer971, #_idContainer974, #_idContainer976, #_idContainer977, #_idContainer980, #_idContainer981, #_idContainer984, #_idContainer985, #_idContainer988, #_idContainer989, #_idContainer992, #_idContainer993, #_idContainer996, #_idContainer997, #_idContainer1000, #_idContainer1001, #_idContainer1004, #_idContainer1005, #_idContainer1008, #_idContainer1009, #_idContainer1012, #_idContainer1013, #_idContainer1016, #_idContainer1017, #_idContainer1020, #_idContainer1021, #_idContainer1024, #_idContainer1025, #_idContainer1028, #_idContainer1029, #_idContainer1035, #_idContainer1037, #_idContainer1038, #_idContainer1041, #_idContainer1042, #_idContainer1045, #_idContainer1046, #_idContainer1049, #_idContainer1050, #_idContainer1053, #_idContainer1054, #_idContainer1060, #_idContainer1061, #_idContainer1064, #_idContainer1065, #_idContainer1068, #_idContainer1069, #_idContainer1072, #_idContainer1073, #_idContainer1076, #_idContainer1077, #_idContainer1080, #_idContainer1081, #_idContainer1084, #_idContainer1085, #_idContainer1088, #_idContainer1089, #_idContainer1092, #_idContainer1093, #_idContainer1096, #_idContainer1097, #_idContainer1103, #_idContainer1104, #_idContainer1107, #_idContainer1108, #_idContainer1114, #_idContainer1115, #_idContainer1118, #_idContainer1119, #_idContainer1125, #_idContainer1126, #_idContainer1129, #_idContainer1130, #_idContainer1133, #_idContainer1134, #_idContainer1137, #_idContainer1138, #_idContainer1141, #_idContainer1142, #_idContainer1145, #_idContainer1146, #_idContainer1149, #_idContainer1150, #_idContainer1153, #_idContainer1154, #_idContainer1157, #_idContainer1158, #_idContainer1161, #_idContainer1162, #_idContainer1165, #_idContainer1166, #_idContainer1169, #_idContainer1170, #_idContainer1173, #_idContainer1174, #_idContainer1177, #_idContainer1178, #_idContainer1181, #_idContainer1182, #_idContainer1185, #_idContainer1186, #_idContainer1189, #_idContainer1190, #_idContainer1193, #_idContainer1194, #_idContainer1197, #_idContainer1198, #_idContainer1201, #_idContainer1202, #_idContainer1205, #_idContainer1206, #_idContainer1209, #_idContainer1210, #_idContainer1213, #_idContainer1214, #_idContainer1217, #_idContainer1218, #_idContainer1221, #_idContainer1222, #_idContainer1225, #_idContainer1226, #_idContainer1229, #_idContainer1230, #_idContainer1233, #_idContainer1234, #_idContainer1238, #_idContainer1239, #_idContainer1242, #_idContainer1243, #_idContainer1246, #_idContainer1247, #_idContainer1250, #_idContainer1251, #_idContainer1254, #_idContainer1255, #_idContainer1258, #_idContainer1259, #_idContainer1262, #_idContainer1263, #_idContainer1266, #_idContainer1267, #_idContainer1270, #_idContainer1271, #_idContainer1274, #_idContainer1275, #_idContainer1278, #_idContainer1280, #_idContainer1281, #_idContainer1284, #_idContainer1285, #_idContainer1288, #_idContainer1289, #_idContainer1292, #_idContainer1293, #_idContainer1296, #_idContainer1297, #_idContainer1300, #_idContainer1301, #_idContainer1304, #_idContainer1305, #_idContainer1308, #_idContainer1309, #_idContainer1312, #_idContainer1313, #_idContainer1316, #_idContainer1317, #_idContainer1320, #_idContainer1321, #_idContainer1324, #_idContainer1325, #_idContainer1328, #_idContainer1329, #_idContainer1332, #_idContainer1333, #_idContainer1336, #_idContainer1337, #_idContainer1340, #_idContainer1341, #_idContainer1344, #_idContainer1345, #_idContainer1348, #_idContainer1349, #_idContainer1352, #_idContainer1353, #_idContainer1356, #_idContainer1357, #_idContainer1360, #_idContainer1361, #_idContainer1364, #_idContainer1365, #_idContainer1368, #_idContainer1369, #_idContainer1372, #_idContainer1373, #_idContainer1376, #_idContainer1377, #_idContainer1380, #_idContainer1381, #_idContainer1384, #_idContainer1385, #_idContainer1388, #_idContainer1389, #_idContainer1392, #_idContainer1393, #_idContainer1396, #_idContainer1397, #_idContainer1400, #_idContainer1401, #_idContainer1404, #_idContainer1405, #_idContainer1408, #_idContainer1409, #_idContainer1412, #_idContainer1413, #_idContainer1416, #_idContainer1417, #_idContainer1420, #_idContainer1421, #_idContainer1424, #_idContainer1425, #_idContainer1428, #_idContainer1429, #_idContainer1432, #_idContainer1433, #_idContainer1436, #_idContainer1437, #_idContainer1440, #_idContainer1441, #_idContainer1444, #_idContainer1445, #_idContainer1448, #_idContainer1449, #_idContainer1452, #_idContainer1453, #_idContainer1456, #_idContainer1457, #_idContainer1460, #_idContainer1461, #_idContainer1464, #_idContainer1465, #_idContainer1468, #_idContainer1469, #_idContainer1472, #_idContainer1473, #_idContainer1476, #_idContainer1477, #_idContainer1480, #_idContainer1481, #_idContainer1484, #_idContainer1485, #_idContainer1488, #_idContainer1489, #_idContainer1492, #_idContainer1493, #_idContainer1496, #_idContainer1497, #_idContainer1500, #_idContainer1501, #_idContainer1504, #_idContainer1505, #_idContainer1508, #_idContainer1509, #_idContainer1512, #_idContainer1513, #_idContainer1516, #_idContainer1517, #_idContainer1520, #_idContainer1521, #_idContainer1524, #_idContainer1525, #_idContainer1528, #_idContainer1529, #_idContainer1532, #_idContainer1533, #_idContainer1536, #_idContainer1537, #_idContainer1540, #_idContainer1541, #_idContainer1544, #_idContainer1545, #_idContainer1548, #_idContainer1549, #_idContainer1552, #_idContainer1553, #_idContainer1556, #_idContainer1557, #_idContainer1560, #_idContainer1561, #_idContainer1564, #_idContainer1565, #_idContainer1568, #_idContainer1569, #_idContainer1572, #_idContainer1573, #_idContainer1576, #_idContainer1577, #_idContainer1580, #_idContainer1581, #_idContainer1584, #_idContainer1585, #_idContainer1588, #_idContainer1589, #_idContainer1592, #_idContainer1593, #_idContainer1596, #_idContainer1597, #_idContainer1600, #_idContainer1601, #_idContainer1604, #_idContainer1605, #_idContainer1608, #_idContainer1609, #_idContainer1612, #_idContainer1613, #_idContainer1616, #_idContainer1617, #_idContainer1620, #_idContainer1621, #_idContainer1624, #_idContainer1625, #_idContainer1628, #_idContainer1629, #_idContainer1632, #_idContainer1633, #_idContainer1636, #_idContainer1637, #_idContainer1640, #_idContainer1641, #_idContainer1644, #_idContainer1645, #_idContainer1649, #_idContainer1652, #_idContainer1653, #_idContainer1656, #_idContainer1657, #_idContainer1660, #_idContainer1661, #_idContainer1664, #_idContainer1665, #_idContainer1668, #_idContainer1669, #_idContainer1672, #_idContainer1673, #_idContainer1676, #_idContainer1677, #_idContainer1680, #_idContainer1681, #_idContainer1684, #_idContainer1685, #_idContainer1688, #_idContainer1689, #_idContainer1693, #_idContainer1696, #_idContainer1697, #_idContainer1701, #_idContainer1704, #_idContainer1705, #_idContainer1708, #_idContainer1709, #_idContainer1712, #_idContainer1713, #_idContainer1716, #_idContainer1717, #_idContainer1721, #_idContainer1724, #_idContainer1725, #_idContainer1728, #_idContainer1729, #_idContainer1732, #_idContainer1733, #_idContainer1736, #_idContainer1737, #_idContainer1740, #_idContainer1741, #_idContainer1744, #_idContainer1745, #_idContainer1748, #_idContainer1749, #_idContainer1752, #_idContainer1753, #_idContainer1756, #_idContainer1757, #_idContainer1760, #_idContainer1761, #_idContainer1764, #_idContainer1765, #_idContainer1769, #_idContainer1772, #_idContainer1773, #_idContainer1776, #_idContainer1777, #_idContainer1780, #_idContainer1781, #_idContainer1784, #_idContainer1785, #_idContainer1788, #_idContainer1789, #_idContainer1792, #_idContainer1793, #_idContainer1796, #_idContainer1797, #_idContainer1800, #_idContainer1801, #_idContainer1804, #_idContainer1805, #_idContainer1808, #_idContainer1809, #_idContainer1812, #_idContainer1813, #_idContainer1816, #_idContainer1817, #_idContainer1820, #_idContainer1821, #_idContainer1824, #_idContainer1825, #_idContainer1828, #_idContainer1829, #_idContainer1832, #_idContainer1833, #_idContainer1836, #_idContainer1837, #_idContainer1840, #_idContainer1841, #_idContainer1844, #_idContainer1845, #_idContainer1848, #_idContainer1849, #_idContainer1852, #_idContainer1853, #_idContainer1856, #_idContainer1857, #_idContainer1860, #_idContainer1861, #_idContainer1864, #_idContainer1865, #_idContainer1868, #_idContainer1869, #_idContainer1872, #_idContainer1873, #_idContainer1876, #_idContainer1877, #_idContainer1880, #_idContainer1881, #_idContainer1884, #_idContainer1885, #_idContainer1889, #_idContainer1890, #_idContainer1893, #_idContainer1894, #_idContainer1897, #_idContainer1898, #_idContainer1901, #_idContainer1902, #_idContainer1905, #_idContainer1906, #_idContainer1912, #_idContainer1913, #_idContainer1916, #_idContainer1917, #_idContainer1920, #_idContainer1921, #_idContainer1924, #_idContainer1925, #_idContainer1928, #_idContainer1929, #_idContainer1932, #_idContainer1933, #_idContainer1936, #_idContainer1937, #_idContainer1940, #_idContainer1941, #_idContainer1944, #_idContainer1945, #_idContainer1948, #_idContainer1949, #_idContainer1952, #_idContainer1956, #_idContainer1959, #_idContainer1960, #_idContainer1963, #_idContainer1964, #_idContainer1967, #_idContainer1968, #_idContainer1971, #_idContainer1972, #_idContainer1975, #_idContainer1976, #_idContainer1979, #_idContainer1980, #_idContainer1983, #_idContainer1984, #_idContainer1987, #_idContainer1988, #_idContainer1991, #_idContainer1992, #_idContainer1995, #_idContainer1996, #_idContainer1999, #_idContainer2000, #_idContainer2003, #_idContainer2004, #_idContainer2007, #_idContainer2008, #_idContainer2011, #_idContainer2012, #_idContainer2015, #_idContainer2016, #_idContainer2019, #_idContainer2020, #_idContainer2023, #_idContainer2024, #_idContainer2027, #_idContainer2028, #_idContainer2031, #_idContainer2032, #_idContainer2035, #_idContainer2036, #_idContainer2039, #_idContainer2040, #_idContainer2043, #_idContainer2044, #_idContainer2047, #_idContainer2048, #_idContainer2051, #_idContainer2052, #_idContainer2055, #_idContainer2056, #_idContainer2059, #_idContainer2060, #_idContainer2063, #_idContainer2064, #_idContainer2067, #_idContainer2068, #_idContainer2072, #_idContainer2075, #_idContainer2076, #_idContainer2080, #_idContainer2083, #_idContainer2084, #_idContainer2088, #_idContainer2091, #_idContainer2092, #_idContainer2096, #_idContainer2099, #_idContainer2100, #_idContainer2104, #_idContainer2107, #_idContainer2108, #_idContainer2112, #_idContainer2115, #_idContainer2116, #_idContainer2120, #_idContainer2123, #_idContainer2124, #_idContainer2128, #_idContainer2131, #_idContainer2132, #_idContainer2136, #_idContainer2139, #_idContainer2140, #_idContainer2144, #_idContainer2147, #_idContainer2148, #_idContainer2152, #_idContainer2155, #_idContainer2156, #_idContainer2160, #_idContainer2163, #_idContainer2164, #_idContainer2168, #_idContainer2171, #_idContainer2172, #_idContainer2176, #_idContainer2182, #_idContainer2185, #_idContainer2186, #_idContainer2190, #_idContainer2193, #_idContainer2194, #_idContainer2198, #_idContainer2201, #_idContainer2202, #_idContainer2206, #_idContainer2209, #_idContainer2210, #_idContainer2214, #_idContainer2217, #_idContainer2218, #_idContainer2222, #_idContainer2225, #_idContainer2226, #_idContainer2230, #_idContainer2234, #_idContainer2235, #_idContainer2239, #_idContainer2242, #_idContainer2243, #_idContainer2247, #_idContainer2250, #_idContainer2251, #_idContainer2255, #_idContainer2258, #_idContainer2259, #_idContainer2263, #_idContainer2266, #_idContainer2267, #_idContainer2271, #_idContainer2274, #_idContainer2275, #_idContainer2279, #_idContainer2282, #_idContainer2283, #_idContainer2287, #_idContainer2290, #_idContainer2291, #_idContainer2295, #_idContainer2298, #_idContainer2299, #_idContainer2303, #_idContainer2306, #_idContainer2307, #_idContainer2311, #_idContainer2314, #_idContainer2315, #_idContainer2319, #_idContainer2322, #_idContainer2323, #_idContainer2327, #_idContainer2330, #_idContainer2331, #_idContainer2335, #_idContainer2338, #_idContainer2339, #_idContainer2343, #_idContainer2346, #_idContainer2347, #_idContainer2351, #_idContainer2355, #_idContainer2359, #_idContainer2362, #_idContainer2363, #_idContainer2367, #_idContainer2370, #_idContainer2371, #_idContainer2375, #_idContainer2378, #_idContainer2379, #_idContainer2383, #_idContainer2386, #_idContainer2387, #_idContainer2391, #_idContainer2394, #_idContainer2395, #_idContainer2399, #_idContainer2402, #_idContainer2403, #_idContainer2407, #_idContainer2410, #_idContainer2411, #_idContainer2415, #_idContainer2418, #_idContainer2419, #_idContainer2423, #_idContainer2426, #_idContainer2427, #_idContainer2430, #_idContainer2431, #_idContainer2432 {
	display:inline-block;
	width:100.00%;
}
#_idContainer001, #_idContainer003, #_idContainer005 {
	display:inline-block;
	padding:4.75% 0% 0% 0%;
	position:relative;
	width:11.56%;
}
#_idContainer002 {
	display:inline-block;
	width:76.67%;
}
#_idContainer004 {
	display:inline-block;
	width:80.95%;
}
#_idContainer007 {
	display:inline-block;
	padding:17.94% 0% 0% 0%;
	position:relative;
	width:19.67%;
}
#_idContainer008 {
	display:inline-block;
	padding:3.67% 0% 0% 0%;
	position:relative;
	width:5.57%;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(9.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(9.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(9.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(9.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:65.51%;
}
#_idContainer014, #_idContainer016, #_idContainer018, #_idContainer020, #_idContainer022, #_idContainer089, #_idContainer092, #_idContainer1237 {
	width:100.00%;
}
#_idContainer024 {
	display:inline-block;
	width:80.96%;
}
#_idContainer025 {
	display:inline-block;
	width:99.68%;
}
#_idContainer031 {
	display:inline-block;
	width:99.77%;
}
#_idContainer053 {
	display:inline-block;
	padding:3.33% 0% 0% 0%;
	position:relative;
	width:13.10%;
}
#_idContainer054 {
	display:inline-block;
	padding:3.02% 0% 0% 0%;
	position:relative;
	width:12.70%;
}
#_idContainer055, #_idContainer056, #_idContainer057, #_idContainer058, #_idContainer059, #_idContainer060, #_idContainer061, #_idContainer062, #_idContainer063, #_idContainer064, #_idContainer065, #_idContainer066, #_idContainer067, #_idContainer068 {
	display:inline-block;
	width:87.78%;
}
#_idContainer069, #_idContainer070, #_idContainer071, #_idContainer072, #_idContainer073, #_idContainer074, #_idContainer075, #_idContainer076, #_idContainer077, #_idContainer078, #_idContainer079, #_idContainer080, #_idContainer081, #_idContainer082, #_idContainer083 {
	display:inline-block;
	width:85.66%;
}
#_idContainer091 {
	display:inline-block;
	padding:4.44% 0% 0% 0%;
	position:relative;
	width:8.24%;
}
#_idContainer096, #_idContainer098, #_idContainer103, #_idContainer110, #_idContainer135, #_idContainer1122, #_idContainer1955 {
	display:inline-block;
	padding:135.30% 0% 0% 0%;
	position:relative;
	width:12.84%;
}
#_idContainer097 {
	display:inline-block;
	padding:11.24% 0% 0% 0%;
	position:relative;
	width:10.00%;
}
#_idContainer099 {
	display:inline-block;
	padding:4.38% 0% 0% 0%;
	position:relative;
	width:8.55%;
}
#_idContainer102, #_idContainer139, #_idContainer630 {
	display:inline-block;
	padding:3.95% 0% 0% 0%;
	position:relative;
	width:10.71%;
}
#_idContainer107, #_idContainer114, #_idContainer118, #_idContainer122, #_idContainer126, #_idContainer130, #_idContainer134, #_idContainer143, #_idContainer147, #_idContainer151, #_idContainer155, #_idContainer159, #_idContainer166, #_idContainer173, #_idContainer177, #_idContainer181, #_idContainer185, #_idContainer189, #_idContainer193, #_idContainer197, #_idContainer201, #_idContainer205, #_idContainer209, #_idContainer213, #_idContainer217, #_idContainer221, #_idContainer225, #_idContainer229, #_idContainer233, #_idContainer237, #_idContainer241, #_idContainer245, #_idContainer249, #_idContainer253, #_idContainer257, #_idContainer261, #_idContainer265, #_idContainer269, #_idContainer273, #_idContainer277, #_idContainer281, #_idContainer285, #_idContainer289, #_idContainer293, #_idContainer297, #_idContainer301, #_idContainer305, #_idContainer309, #_idContainer313, #_idContainer317, #_idContainer321, #_idContainer325, #_idContainer329, #_idContainer333, #_idContainer337, #_idContainer341, #_idContainer345, #_idContainer349, #_idContainer353, #_idContainer357, #_idContainer361, #_idContainer365, #_idContainer369, #_idContainer373, #_idContainer377, #_idContainer381, #_idContainer385, #_idContainer389, #_idContainer393, #_idContainer397, #_idContainer401, #_idContainer405, #_idContainer409, #_idContainer413, #_idContainer417, #_idContainer421, #_idContainer425, #_idContainer429, #_idContainer433, #_idContainer437, #_idContainer441, #_idContainer445, #_idContainer449, #_idContainer453, #_idContainer457, #_idContainer461, #_idContainer465, #_idContainer469, #_idContainer473, #_idContainer477, #_idContainer481, #_idContainer485, #_idContainer489, #_idContainer493, #_idContainer497, #_idContainer501, #_idContainer505, #_idContainer509, #_idContainer513, #_idContainer517, #_idContainer521, #_idContainer525, #_idContainer529, #_idContainer533, #_idContainer537, #_idContainer541, #_idContainer545, #_idContainer549, #_idContainer553, #_idContainer557, #_idContainer561, #_idContainer565, #_idContainer569, #_idContainer573, #_idContainer577, #_idContainer581, #_idContainer585, #_idContainer589, #_idContainer593, #_idContainer597, #_idContainer603, #_idContainer609, #_idContainer613, #_idContainer617, #_idContainer621, #_idContainer625, #_idContainer629, #_idContainer636, #_idContainer640, #_idContainer644, #_idContainer648, #_idContainer652, #_idContainer658, #_idContainer662, #_idContainer668, #_idContainer672, #_idContainer676, #_idContainer680, #_idContainer684, #_idContainer688, #_idContainer692, #_idContainer696, #_idContainer700, #_idContainer704, #_idContainer708, #_idContainer712, #_idContainer716, #_idContainer720, #_idContainer724, #_idContainer728, #_idContainer732, #_idContainer736, #_idContainer740, #_idContainer744, #_idContainer748, #_idContainer752, #_idContainer756, #_idContainer760, #_idContainer764, #_idContainer768, #_idContainer772, #_idContainer776, #_idContainer780, #_idContainer784, #_idContainer788, #_idContainer792, #_idContainer796, #_idContainer800, #_idContainer804, #_idContainer808, #_idContainer813, #_idContainer817, #_idContainer821, #_idContainer825, #_idContainer829, #_idContainer833, #_idContainer837, #_idContainer841, #_idContainer845, #_idContainer849, #_idContainer853, #_idContainer857, #_idContainer861, #_idContainer865, #_idContainer869, #_idContainer873, #_idContainer877, #_idContainer881, #_idContainer885, #_idContainer889, #_idContainer893, #_idContainer897, #_idContainer901, #_idContainer905, #_idContainer909, #_idContainer913, #_idContainer917, #_idContainer921, #_idContainer925, #_idContainer929, #_idContainer933, #_idContainer937, #_idContainer941, #_idContainer945, #_idContainer949, #_idContainer953, #_idContainer957, #_idContainer961, #_idContainer965, #_idContainer969, #_idContainer973, #_idContainer979, #_idContainer983, #_idContainer987, #_idContainer991, #_idContainer995, #_idContainer999, #_idContainer1003, #_idContainer1007, #_idContainer1011, #_idContainer1015, #_idContainer1019, #_idContainer1023, #_idContainer1027, #_idContainer1031, #_idContainer1040, #_idContainer1044, #_idContainer1048, #_idContainer1052, #_idContainer1056, #_idContainer1063, #_idContainer1067, #_idContainer1071, #_idContainer1075, #_idContainer1079, #_idContainer1083, #_idContainer1087, #_idContainer1091, #_idContainer1095, #_idContainer1099, #_idContainer1106, #_idContainer1110, #_idContainer1117, #_idContainer1121, #_idContainer1128, #_idContainer1132, #_idContainer1136, #_idContainer1140, #_idContainer1144, #_idContainer1148, #_idContainer1152, #_idContainer1156, #_idContainer1160, #_idContainer1164, #_idContainer1168, #_idContainer1172, #_idContainer1176, #_idContainer1180, #_idContainer1184, #_idContainer1188, #_idContainer1192, #_idContainer1196, #_idContainer1200, #_idContainer1204, #_idContainer1208, #_idContainer1212, #_idContainer1216, #_idContainer1220, #_idContainer1224, #_idContainer1228, #_idContainer1232, #_idContainer1236, #_idContainer1241, #_idContainer1245, #_idContainer1249, #_idContainer1253, #_idContainer1257, #_idContainer1261, #_idContainer1265, #_idContainer1269, #_idContainer1273, #_idContainer1277, #_idContainer1283, #_idContainer1287, #_idContainer1291, #_idContainer1295, #_idContainer1299, #_idContainer1303, #_idContainer1307, #_idContainer1311, #_idContainer1315, #_idContainer1319, #_idContainer1323, #_idContainer1327, #_idContainer1331, #_idContainer1335, #_idContainer1339, #_idContainer1343, #_idContainer1347, #_idContainer1351, #_idContainer1355, #_idContainer1359, #_idContainer1363, #_idContainer1367, #_idContainer1371, #_idContainer1375, #_idContainer1379, #_idContainer1383, #_idContainer1387, #_idContainer1391, #_idContainer1395, #_idContainer1399, #_idContainer1403, #_idContainer1407, #_idContainer1411, #_idContainer1415, #_idContainer1419, #_idContainer1423, #_idContainer1427, #_idContainer1431, #_idContainer1435, #_idContainer1439, #_idContainer1443, #_idContainer1447, #_idContainer1451, #_idContainer1455, #_idContainer1459, #_idContainer1463, #_idContainer1467, #_idContainer1471, #_idContainer1475, #_idContainer1479, #_idContainer1483, #_idContainer1487, #_idContainer1491, #_idContainer1495, #_idContainer1499, #_idContainer1503, #_idContainer1507, #_idContainer1511, #_idContainer1515, #_idContainer1519, #_idContainer1523, #_idContainer1527, #_idContainer1531, #_idContainer1535, #_idContainer1539, #_idContainer1543, #_idContainer1547, #_idContainer1551, #_idContainer1555, #_idContainer1559, #_idContainer1563, #_idContainer1567, #_idContainer1571, #_idContainer1575, #_idContainer1579, #_idContainer1583, #_idContainer1587, #_idContainer1591, #_idContainer1595, #_idContainer1599, #_idContainer1603, #_idContainer1607, #_idContainer1611, #_idContainer1615, #_idContainer1619, #_idContainer1623, #_idContainer1627, #_idContainer1631, #_idContainer1635, #_idContainer1639, #_idContainer1643, #_idContainer1647, #_idContainer1651, #_idContainer1655, #_idContainer1659, #_idContainer1663, #_idContainer1667, #_idContainer1671, #_idContainer1675, #_idContainer1679, #_idContainer1683, #_idContainer1687, #_idContainer1691, #_idContainer1695, #_idContainer1699, #_idContainer1703, #_idContainer1707, #_idContainer1711, #_idContainer1715, #_idContainer1719, #_idContainer1723, #_idContainer1727, #_idContainer1731, #_idContainer1735, #_idContainer1739, #_idContainer1743, #_idContainer1747, #_idContainer1751, #_idContainer1755, #_idContainer1759, #_idContainer1763, #_idContainer1767, #_idContainer1771, #_idContainer1775, #_idContainer1779, #_idContainer1783, #_idContainer1787, #_idContainer1791, #_idContainer1795, #_idContainer1799, #_idContainer1803, #_idContainer1807, #_idContainer1811, #_idContainer1815, #_idContainer1819, #_idContainer1823, #_idContainer1827, #_idContainer1831, #_idContainer1835, #_idContainer1839, #_idContainer1843, #_idContainer1847, #_idContainer1851, #_idContainer1855, #_idContainer1859, #_idContainer1863, #_idContainer1867, #_idContainer1871, #_idContainer1879, #_idContainer1883, #_idContainer1892, #_idContainer1896, #_idContainer1900, #_idContainer1904, #_idContainer1908, #_idContainer1915, #_idContainer1919, #_idContainer1923, #_idContainer1927, #_idContainer1931, #_idContainer1935, #_idContainer1939, #_idContainer1943, #_idContainer1947, #_idContainer1951, #_idContainer1962, #_idContainer1966, #_idContainer1970, #_idContainer1974, #_idContainer1978, #_idContainer1982, #_idContainer1986, #_idContainer1990, #_idContainer1994, #_idContainer1998, #_idContainer2002, #_idContainer2006, #_idContainer2010, #_idContainer2014, #_idContainer2018, #_idContainer2022, #_idContainer2026, #_idContainer2030, #_idContainer2034, #_idContainer2038, #_idContainer2042, #_idContainer2046, #_idContainer2050, #_idContainer2054, #_idContainer2058, #_idContainer2062, #_idContainer2066, #_idContainer2070, #_idContainer2074, #_idContainer2078, #_idContainer2082, #_idContainer2086, #_idContainer2090, #_idContainer2094, #_idContainer2098, #_idContainer2102, #_idContainer2106, #_idContainer2110, #_idContainer2114, #_idContainer2118, #_idContainer2122, #_idContainer2126, #_idContainer2130, #_idContainer2134, #_idContainer2138, #_idContainer2142, #_idContainer2146, #_idContainer2150, #_idContainer2154, #_idContainer2158, #_idContainer2162, #_idContainer2166, #_idContainer2170, #_idContainer2174, #_idContainer2178, #_idContainer2184, #_idContainer2188, #_idContainer2192, #_idContainer2196, #_idContainer2200, #_idContainer2204, #_idContainer2208, #_idContainer2212, #_idContainer2216, #_idContainer2220, #_idContainer2224, #_idContainer2228, #_idContainer2232, #_idContainer2237, #_idContainer2241, #_idContainer2245, #_idContainer2249, #_idContainer2253, #_idContainer2257, #_idContainer2261, #_idContainer2265, #_idContainer2269, #_idContainer2273, #_idContainer2277, #_idContainer2281, #_idContainer2285, #_idContainer2289, #_idContainer2293, #_idContainer2297, #_idContainer2301, #_idContainer2305, #_idContainer2309, #_idContainer2313, #_idContainer2317, #_idContainer2321, #_idContainer2325, #_idContainer2329, #_idContainer2333, #_idContainer2337, #_idContainer2341, #_idContainer2345, #_idContainer2349, #_idContainer2353, #_idContainer2357, #_idContainer2361, #_idContainer2365, #_idContainer2369, #_idContainer2373, #_idContainer2377, #_idContainer2381, #_idContainer2385, #_idContainer2389, #_idContainer2393, #_idContainer2397, #_idContainer2401, #_idContainer2405, #_idContainer2409, #_idContainer2413, #_idContainer2417, #_idContainer2421, #_idContainer2425, #_idContainer2429 {
	display:inline-block;
	padding:2.02% 0% 0% 0%;
	position:relative;
	width:39.29%;
}
#_idContainer108, #_idContainer167, #_idContainer631, #_idContainer1032, #_idContainer1123, #_idContainer2095, #_idContainer2159, #_idContainer2179 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:100.00%;
}
#_idContainer123 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:88.24%;
}
#_idContainer136 {
	display:inline-block;
	padding:4.75% 0% 0% 0%;
	position:relative;
	width:8.72%;
}
#_idContainer160 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:90.00%;
}
#_idContainer162, #_idContainer169 {
	display:inline-block;
	padding:136.19% 0% 0% 0%;
	position:relative;
	width:10.95%;
}
#_idContainer812 {
	display:inline-block;
	padding:11.19% 0% 0% 0%;
	position:relative;
	width:42.98%;
}
#_idContainer1034 {
	display:inline-block;
	padding:4.51% 0% 0% 0%;
	position:relative;
	width:13.24%;
}
#_idContainer1057 {
	display:inline-block;
	width:81.23%;
}
#_idContainer1059 {
	display:inline-block;
	padding:136.19% 0% 0% 0%;
	position:relative;
	width:9.52%;
}
#_idContainer1100, #_idContainer1111, #_idContainer1909 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.32%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:100%;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.19%;
	z-index:0;
}
#_idContainer1101, #_idContainer1112 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.32%;
	left:98.77%;
	overflow:hidden;
	position:absolute;
	top:100%;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.19%;
	z-index:1;
}
#_idContainer1102, #_idContainer1113, #_idContainer1911 {
	display:inline-block;
	padding:23.19% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer1648, #_idContainer2079, #_idContainer2103, #_idContainer2111, #_idContainer2119, #_idContainer2127, #_idContainer2135, #_idContainer2143, #_idContainer2151, #_idContainer2167, #_idContainer2175, #_idContainer2181, #_idContainer2221, #_idContainer2254, #_idContainer2354, #_idContainer2358, #_idContainer2382, #_idContainer2390, #_idContainer2406 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:100.00%;
}
#_idContainer1692, #_idContainer1700, #_idContainer1768, #_idContainer2071, #_idContainer2087 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:100.00%;
}
#_idContainer1720 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:100.00%;
}
#_idContainer1875 {
	display:inline-block;
	padding:2.66% 0% 0% 0%;
	position:relative;
	width:39.29%;
}
#_idContainer1910 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:5.32%;
	left:98.77%;
	overflow:hidden;
	position:absolute;
	top:99.94%;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:23.18%;
	z-index:1;
}
#_idContainer1954 {
	display:inline-block;
	padding:14.79% 0% 0% 0%;
	position:relative;
	width:42.41%;
}
#_idContainer1958 {
	display:inline-block;
	padding:135.85% 0% 0% 0%;
	position:relative;
	width:12.84%;
}

#_idContainer2205 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:91.31%;
}
#_idContainer2233 {
	display:inline-block;
	padding:1.90% 0% 0% 0%;
	position:relative;
	width:25.71%;
}
#_idContainer2246, #_idContainer2262 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:89.09%;
}
#_idContainer2270, #_idContainer2278, #_idContainer2286, #_idContainer2294, #_idContainer2302, #_idContainer2310, #_idContainer2318, #_idContainer2326, #_idContainer2334, #_idContainer2342, #_idContainer2350, #_idContainer2366, #_idContainer2374, #_idContainer2398, #_idContainer2414, #_idContainer2422 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:74.75%;
}
#_idContainer2433 {
	display:inline-block;
	width:99.85%;
}
#_idContainer2437 {
	display:inline-block;
	padding:4.53% 0% 0% 0%;
	position:relative;
	width:7.45%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
	margin-top: 10px;
}
img._idGenObjectAttribute-2 {
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-color:#ffffff;
}
div._idGenObjectLayout-1 {
	text-align:left;
}
div._idGenObjectLayout-2 {
	text-align:center;
}
div._idGenObjectLayout-3 {
	margin:5% 3% 5% 3%;
}
div._idGenObjectLayout-4 {
	margin:-6% 6% -6% 6%;
}
div._idGenObjectLayout-5 {
	margin:28px -28px 28px -28px;
}
div._idGenObjectLayout-6 {
	margin:8% -8% 8% -8%;
}
div._idGenObjectLayout-7 {
	margin:17% -17% 17% -17%;
}
div._idGenObjectLayout-8 {
	margin:3% -3% 3% -3%;
}
div._idGenObjectLayout-9 {
	margin:8px -8px 8px -8px;
}
div._idGenObjectLayout-10 {
	margin:12% -12% 12% -12%;
}
div._idGenObjectLayout-11 {
	margin:1px -1px 1px -1px;
}
div._idGenObjectLayout-12 {
	margin:59px -59px 59px -59px;
}
div._idGenObjectLayout-13 {
	margin:-34px 34px -34px 34px;
}
div._idGenObjectLayout-14 {
	margin:-10px 10px -10px 10px;
}
div._idGenObjectLayout-15 {
	margin:39px -39px 39px -39px;
}
div._idGenObjectLayout-16 {
	margin:-13px 13px -13px 13px;
}
div._idGenObjectLayout-17 {
	margin:4px -4px 4px -4px;
}
div._idGenObjectLayout-18 {
	margin:-30px 30px -30px 30px;
}
div._idGenObjectLayout-19 {
	margin:41px -41px 41px -41px;
}
div._idGenObjectLayout-20 {
	margin:58px -58px 58px -58px;
}
div._idGenObjectLayout-21 {
	margin:9px -9px 9px -9px;
}
div._idGenObjectLayout-22 {
	margin:14px -14px 14px -14px;
}
div._idGenObjectLayout-23 {
	margin:6px -6px 6px -6px;
}


.center{

	margin: auto;
}

.mt{
	padding-top: 40px ;
}